body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #676d5f;
  color: #fff;
  padding: 5px;
  text-align: center;
  font-size: 30px;
}

.container {
  display: flex;
}

.column:not(:last-child) {
  margin-right: 20px;
}

.image-container {
  width: 300px; /* Set the width of the container */
}

.image-container img {
  width: 100%; /* Make the image fill the container horizontally */
  height: auto; /* Maintain aspect ratio */
}


.outer-column {
  display: flex;
  justify-content: space-between; /* Adjust the spacing between inner columns */
  margin-bottom: 25px;
}

.inner-column {
  flex: 1;
  padding: 20px;
  border: 2px solid #caced1;
  margin-right: 20px; /* Add margin between inner columns */
  margin-left: 20px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(103, 109, 95, 0.5); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #676d5f;
  color: #caced1;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 3px solid #caced1;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Modal Header */
.modal-header {
  padding: 2px 5px;
  background-color: #676d5f;
  color: white;
  border: 3px solid #caced1;
  text-align: center;
  font-size: 25px;
}


/* Close Button */
.close {
  color: #caced1;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.p {
  text-align: center;
  font-weight: bold;
}